body {
}
.css-text h1{
    color:steelblue;
    margin-top:100px;
    margin-bottom:29px;

}


.css-text{
    padding-bottom:50px;
}
.css-text li{
    text-align:left;
}
.nav-tabs>li>a:hover {
    border-color: tan;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: mintcream;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: tan;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    
}
.nav-tabs{
    border:none;
}

.btn-primary {
    color: #fff;
    background-color: cadetblue;
    border-color: teal;
     
     width:150px;
     margin :100px 90px 0 90px;
}
ol li h4{
    
    color:steelblue;
    text-align:left;
}
ol li {
text-align:left;


}


p{
    text-align:left;
}

b
{
    text-align: left;
    position: relative;
    
}
.css-text h3
{
	text-align: left;
    color: blue;
}
h2{
    text-align: center
}
h2{
    color: red
}
h4{
    text-align: left
}

ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    
}

   
.references {
    padding-left: 40px;
    margin-bottom: 100px;
    background-color: wheat;
    box-shadow: 0px 0px 30px wheat;
    border-radius: 150px;
    padding-bottom: 20px;
}

.references ol > li {
    list-style-type:decimal;
}
.references h3{
    color:cornflowerblue;
    font-weight:bold;
}

.myname {
		display: inline-block;
		margin-bottom:5px;
}

.myname .col-md-12{
    font-weight:bold;
		color: darkred;
		text-align: right;
}
.myname p{
		text-align: right;

}